Repository ngx-library/ngx-library: changes, and which Codecov flags are due for each by the changed paths.
All: common, gitlab-api, markdownlint, zip-js

.codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 5%
      common:
        flags:
          - common
      gitlab-api:
        flags:
          - gitlab-api
      markdownlint:
        flags:
          - markdownlint
      zip-js:
        flags:
          - zip-js

flags:
  common:
    paths:
      - projects/common/
  gitlab-api:
    paths:
      - projects/gitlab-api/
  markdownlint:
    paths:
      - projects/markdownlint/
  zip-js:
    paths:
      - projects/zip-js/

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
  package.json
  projects/common/package.json
  projects/gitlab-api/package.json
  projects/markdownlint/package.json
  projects/zip-js/package.json
Due: common, gitlab-api, markdownlint, zip-js

fix: change bugs url
  projects/common/package.json
  projects/gitlab-api/package.json
  projects/markdownlint/package.json
  projects/zip-js/package.json
Due: common, gitlab-api, markdownlint, zip-js

chore(deps): add renovate.json
  renovate.json
Due: none

build(deps): update angular monorepo to v9.0.2
  package-lock.json
  package.json
  projects/common/package.json
  projects/gitlab-api/package.json
  projects/markdownlint/package.json
  projects/zip-js/package.json
Due: common, gitlab-api, markdownlint, zip-js

chore(deps): update @types/jasmine to v3.5.6
  package-lock.json
  package.json
Due: none

chore(deps): update karma to v4.4.1
  package-lock.json
  package.json
Due: none

chore(deps): update karma-coverage-istanbul-reporter to v2.1.1
  package-lock.json
  package.json
Due: none

chore(deps): update karma-jasmine-html-reporter to v1.5.2
  package-lock.json
  package.json
Due: none

chore(deps): update ng-packagr to v9.0.1
  package-lock.json
  package.json
Due: none

chore(deps): update @types/jasminewd2 to v2.0.8
  package-lock.json
  package.json
Due: none

chore(deps): update angularcli monorepo
  package-lock.json
  package.json
Due: none

chore(deps): update tslib to v1.11.0
  package-lock.json
  package.json
  projects/common/package.json
  projects/gitlab-api/package.json
  projects/markdownlint/package.json
  projects/zip-js/package.json
Due: common, gitlab-api, markdownlint, zip-js

ci(coverage): fix codecov configuration
  .codecov.yml
  .gitlab/common.gitlab-ci.yml
  .gitlab/gitlab-api.gitlab-ci.yml
  .gitlab/markdownlint.gitlab-ci.yml
  .gitlab/zip-js.gitlab-ci.yml
Due: none

fix: add LICENSE file
  LICENSE
Due: none

chore(deps): update @types/node to v12.12.28
  package-lock.json
  package.json
Due: none

chore(deps): update ts-node to v8.6.2
  package-lock.json
  package.json
Due: none

chore(deps): update karma-jasmine to v3
  package-lock.json
  package.json
Due: none

chore(deps): update @types/jasmine to v3.5.7
  package-lock.json
  package.json
Due: none

ci: update gitlab ci config
  .gitlab-ci.yml
  .gitlab/common.gitlab-ci.yml
  .gitlab/gitlab-api.gitlab-ci.yml
  .gitlab/markdownlint.gitlab-ci.yml
  .gitlab/zip-js.gitlab-ci.yml
Due: none

ci: update gitlab ci config
  .gitlab/common.gitlab-ci.yml
  .gitlab/gitlab-api.gitlab-ci.yml
  .gitlab/markdownlint.gitlab-ci.yml
  .gitlab/zip-js.gitlab-ci.yml
Due: none

feat(common): implement unsubscribable abstract class
  projects/common/unsubscribable/package.json
  projects/common/unsubscribable/src/lib/unsubscribable.spec.ts
  projects/common/unsubscribable/src/lib/unsubscribable.ts
  projects/common/unsubscribable/src/public-api.ts
Due: common

chore(release): 1.1.0 [skip ci]
  CHANGELOG.md
  package.json
  projects/common/package.json
  projects/gitlab-api/package.json
  projects/markdownlint/package.json
  projects/zip-js/package.json
Due: common, gitlab-api, markdownlint, zip-js

chore(deps): update lint-staged to v10.0.8
  package-lock.json
  package.json
Due: none

fix(gitlab-api): add secondary entry points for lib
  .gitignore
  projects/gitlab-api/guard/package.json
  projects/gitlab-api/guard/src/lib/gitlab-api-token-required-guard.service.spec.ts
  projects/gitlab-api/guard/src/lib/gitlab-api-token-required-guard.service.ts
  projects/gitlab-api/guard/src/public-api.ts
  projects/gitlab-api/local-storage/package.json
  projects/gitlab-api/local-storage/src/lib/local-storage-gitlab-api-authorization-reader-writer.service.spec.ts
  projects/gitlab-api/local-storage/src/lib/local-storage-gitlab-api-authorization-reader-writer.service.ts
  projects/gitlab-api/local-storage/src/public-api.ts
  projects/gitlab-api/package.json
  projects/gitlab-api/src/lib/gitlab-api-auth-interceptor.service.ts
  projects/gitlab-api/src/lib/gitlab-api-auth-store.service.spec.ts
  projects/gitlab-api/src/lib/gitlab-api-auth-store.service.ts
  projects/gitlab-api/src/lib/gitlab-api-auth.service.spec.ts
  projects/gitlab-api/src/lib/gitlab-api-auth.token.ts
  projects/gitlab-api/src/lib/gitlab-api.module.ts
  projects/gitlab-api/src/lib/models/auth.model.ts
  projects/gitlab-api/src/public-api.ts
  tsconfig.json
Due: gitlab-api

chore(release): 1.1.1 [skip ci]
  CHANGELOG.md
  package.json
  projects/common/package.json
  projects/gitlab-api/package.json
  projects/markdownlint/package.json
  projects/zip-js/package.json
Due: common, gitlab-api, markdownlint, zip-js

chore(deps): update @ngx-library/gitlab-api to ^1.1.1
  projects/gitlab-api/guard/package.json
  projects/gitlab-api/local-storage/package.json
Due: gitlab-api

chore(deps): update ng-packagr to v9.0.2
  package-lock.json
  package.json
Due: none

chore(deps): update tslib to v1.11.1
  package-lock.json
  package.json
  projects/common/package.json
  projects/gitlab-api/guard/package.json
  projects/gitlab-api/local-storage/package.json
  projects/gitlab-api/package.json
  projects/markdownlint/package.json
  projects/zip-js/package.json
Due: common, gitlab-api, markdownlint, zip-js

fix: update links in package.json files
  projects/common/package.json
  projects/gitlab-api/package.json
  projects/markdownlint/package.json
  projects/zip-js/package.json
Due: common, gitlab-api, markdownlint, zip-js

build: reduced thresholds test coverage
  .codecov.yml
Due: none

build(deps): update angular monorepo to v9.0.4
  package-lock.json
  package.json
  projects/common/package.json
  projects/common/unsubscribable/package.json
  projects/gitlab-api/guard/package.json
  projects/gitlab-api/local-storage/package.json
  projects/gitlab-api/package.json
  projects/markdownlint/package.json
  projects/zip-js/package.json
Due: common, gitlab-api, markdownlint, zip-js

chore(deps): update @types/node to v12.12.29
  package-lock.json
  package.json
Due: none

build(deps): update angular monorepo to v9.0.5
  package-lock.json
  package.json
  projects/common/package.json
  projects/common/unsubscribable/package.json
  projects/gitlab-api/guard/package.json
  projects/gitlab-api/local-storage/package.json
  projects/gitlab-api/package.json
  projects/markdownlint/package.json
  projects/zip-js/package.json
Due: common, gitlab-api, markdownlint, zip-js

chore(deps): update @types/jasmine to v3.5.8
  package-lock.json
  package.json
Due: none

feat(infrastructure): implement infrastructure library
  .codecov.yml
  .gitlab-ci.yml
  .gitlab/common.gitlab-ci.yml
  .gitlab/gitlab-api.gitlab-ci.yml
  .gitlab/markdownlint.gitlab-ci.yml
  .gitlab/zip-js.gitlab-ci.yml
  angular.json
  karma.conf.js
  package-lock.json
  package.json
  projects/common/karma.conf.js
  projects/gitlab-api/karma.conf.js
  projects/infrastructure/README.md
  projects/infrastructure/commitlint/commitlint.config.js
  projects/infrastructure/commitlint/index.js
  projects/infrastructure/karma.conf.js
  projects/infrastructure/karma/index.js
  projects/infrastructure/karma/karma.conf.js
  projects/infrastructure/ng-package.json
  projects/infrastructure/ng-package.prod.json
  projects/infrastructure/package.json
  projects/infrastructure/src/lib/infrastructure.spec.ts
  projects/infrastructure/src/lib/infrastructure.ts
  projects/infrastructure/src/public-api.ts
  projects/infrastructure/test.ts
  projects/infrastructure/tsconfig.lib.json
  projects/infrastructure/tsconfig.lib.prod.json
  projects/infrastructure/tsconfig.spec.json
  projects/infrastructure/tslint.json
  projects/markdownlint/karma.conf.js
  projects/zip-js/karma.conf.js
  release.config.js
Due: common, gitlab-api, markdownlint, zip-js

chore(release): 1.2.0 [skip ci]
  CHANGELOG.md
  package.json
  projects/common/package.json
  projects/gitlab-api/package.json
  projects/infrastructure/package.json
  projects/markdownlint/package.json
  projects/zip-js/package.json
Due: common, gitlab-api, markdownlint, zip-js

chore(deps): update @ngx-library/gitlab-api to ^1.2.0
  projects/gitlab-api/guard/package.json
  projects/gitlab-api/local-storage/package.json
Due: gitlab-api

chore(deps): update ng-packagr to v9.0.3
  package-lock.json
  package.json
Due: none
